{% extends 'base.html' %}
{% load static %}
{% block title %} Jionyeshe-Login {% endblock %}
{% block content %}


<div class="container">
    <form method="POST" class="form-horizontal">
        {% csrf_token %}
                  <div class="control-group">
                    <label class="control-label" for="inputText">Username</label>
                    <div class="controls">
                       {{ form.username }}
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="inputSigninPassword">Password</label>
                    <div class="controls">
                       {{ form.password }}
                    </div>
                  </div>
                  <input type="hidden" name="next" value="{{next}}"/>
                  <div class="control-group">
                    <div class="controls">
                      <button type="submit" class="btn btn-primary">Sign in</button>
                    </div>
                    <p class="aligncenter margintop20">
                      Forgot password? <a href="{% url 'password_reset' %}" data-dismiss="modal" aria-hidden="true" data-toggle="modal">Reset</a>
                    </p>
                  </div>
    </form>

</div>
{% endblock %}
